@charset "utf-8";
@media screen and (max-width: 1200px) {
    .mentor-top span{
        width: 8vw;
        min-width: 60px;
    }
    .mentor-top span,
    .mentor-top p,
    .mentor-bt p {
    font-size: calc(0.6vw + 10px);
    }
    .mentor-md {
    font-size: 6.2vw;
    }
}
@media screen and (max-width: 1000px){
    .j_left{
        width: 30%;
    }
    .j_right{
        width: 65%;
    }
}
@media screen and (max-width: 768px){
    .rv-wrap{
        grid-template-columns: repeat(2, 1fr);
      }
    .rv-box{
        height: 200px;
    }
    .rv-box-5, 
    .rv-box-6{
        display: none;
    }
}
@media screen and (max-width: 506px){
    .rv-wrap{
        width: 90%;
        padding: 10%;
        grid-template-columns: repeat(1, 1fr);
      }
      .rv-box{
        padding: 7%;
      }
      .rv-box-4{
        display: none;
    }
}
@media screen and (max-width: 450px){
    .mentor-top span,
    .mentor-top p,
    .mentor-bt p {
    font-size: 2.8vw;
    }
}