@charset "utf-8";
@import url("reset.css");
@import url("style.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Ownglyph_Dailyokja-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: var(--main-ko-font);
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 
피치 : #FFBE98
베이지 : #FFF8E9;
그린  : #589856;
회색 : #3A3C3B;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 메인 === 이달의 강연 ======================= */
.mentor {
  font-family: var(--main-ko-font);
  margin-top: 150px;
  margin-bottom: 150px;
}
.mentor > .inner {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
}
.mentor-box {
  flex-basis: 50%;
}
.mentor-box img {
  width: 100%;
  height: 100%;
}
.mentor-left {
  background-color: #ffbc6c;
  text-align: left;
  position: relative;
}
.mentor-top {
  display: flex;
  align-items: center;
  /* padding: 1vw; */
  width: 100%;
  min-width: 150px;
  gap: 5%;
  position: absolute;
  left: 1.5vw;
  top: 1.5vw;
}
.mentor-top span {
  width: 90px;
  line-height: 1.6;
  background-color: #fff;
  border-radius: 80px;
  color: #ffbc6c;
  text-align: center;
  letter-spacing: 0.1vw;
  font-size: 18px;
  font-weight: bold;
}
.mentor-top p {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.mentor-md {
  font-family: var(--main-ko-font);
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.8;
  width: 100%;
  /* min-width: 500px; */
  padding-left: 2.5vw;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 50%;
  transform: translateY(-50%);
}
.mentor-bt {
  position: absolute;
  left: 1.5vw;
  bottom: 1.5vw;
  width: 100%;
  min-width: 150px;
}
.mentor-bt p {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  /* padding: 1vw; */
}
.mentor > .inner-mb {
  display: none;
}
/* 멘토 === 모바일 */

/* 8888888888888888888888888888888888888888888888888888 */

/* 메인 === 리뷰 =========================== */
.review {
  /* height: 100%; */
  /* margin-top: 150px; */
  padding-bottom: 30px;
  /* width: 100%; */
  background-color: #fff2f2;
  /* border-radius: 10% 10% 0 0; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}
.rv-wrap {
  font-family: var(--main-ko-font);
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
  gap: 2vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.rv-box {
  /* width: calc(100% / 5); */
  /* min-width: 200px; */
  max-width: 500px;
  height: 260px;
  min-height: 220px;
  background-color: #ffffffb2;
  text-align: left;
  /* padding: 1vw; */
  padding: 10%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.review > a > .s_btn {
  margin-bottom: 50px;
}
.rv-cate {
  font-size: calc(0.1vw + 10px);
  font-weight: bold;
  color: var(--side-color);
}
.rv-tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 15px 0; */
}
.rv-tit p {
  font-size: calc(0.1vw + 13px);
  font-weight: bold;
}
.rv-tit img {
  margin-bottom: 5px;
  width: 2.3vw;
  min-width: 40px;
  height: 2.3vw;
  min-height: 40px;
}
.rv-box hr {
  border: 1px solid #c7c7c749;
}
.box-2-txt {
  display: none;
}
.rv-body {
  height: 80%;
  max-height: 220px;
  padding: 15px 0;
  font-size: calc(0.1vw + 11px);
  font-weight: bold;
  line-height: 1.5;
  overflow: auto;
  color: #555;
}
.rv-body::-webkit-scrollbar {
  width: 10px;
}

.rv-body::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #c4c4c488;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.rv-body::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 메인 전체 끝 8888888888888888888888888888888888888888 */

/* 상세 페이지 =================================== */
/* 프로그램 리스트 ================= */
.j_banner_wrap {
  padding: 6vw;
  width: 100%;
  height: 25vw;
  min-height: 400px;
  background-color: var(--bg-color);
  text-align: center;
}
.j_banner {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}
.j_banner h1 {
  font-family: var(--main-ko-font);
  font-size: 50px;
  font-weight: 700;
  color: var(--side-color);
}
.j_banner h1::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid var(--side-color);
  margin: 40px auto;
}
.j_banner p {
  font-family: var(--main-ko-font);
  font-size: 18px;
  /* font-weight: bold; */
  line-height: 1.6;
  color: var(--font-color);
}
.j_banner p:nth-child(2) {
  margin-bottom: 20px;
}
/* 프로그램 리스트 ================= */
.J_container {
  font-family: var(--main-ko-font);
}
.J_container > .inner {
  /* background-color: rgb(255, 205, 255); */
}
.j_program {
  width: 100%;
  /* height: 400px; */
  display: flex;
  padding: 80px 20px;
}
.j_left {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.j_title {
  font-size: 18px;
  font-weight: bold;
  width: 145px;
  line-height: 50px;
  text-align: center;
  background-color: #589856;
  color: #fff;
  /* border: 2px solid var(--side-color); */
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.2);
}
.j_left > p {
  color: #589856;
  text-align: left;
  font-size: 16px;
  /* font-weight: bold; */
  margin: 10px 0;
  line-height: 25px;
}
.j_right {
  width: 800px;
  height: 100%;
  display: flex;
  gap: 20px;
}
.j_box {
  width: 250px;
  /* height: 250px; */

  /* border: 1px solid #a0a0a0ad; */
}
.j_box .j_top {
  width: 100%;
  height: 250px;
}
.j_top {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
/* .j_box:hover .j_top img{
  transform: scale(1.1);
  transition: all 0.5s;
} */
/* .j_heart:hover .far{
  opacity: 0;
}
.j_heart:hover .fas{
  opacity: 1;
  transition: all 0.3s;
  transform: scale(1.1);
} */
.j_top img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
}
/* 하트 아이콘  */
.j_top .fa-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  font-size: 1.8rem;
  color: #eeeeee;
  cursor: pointer;
}
.fa-heart {
  font-family: var(--side-ko-font);
  background-color: rgba(0, 0, 0, 0.5);
}
.j_top .heart .fas:before {
  content: "\f004";
  color: #eeeeee; /* 채워진 하트 색상 */
  background-color: transparent;
}
/* .j_top .j_heart {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 0.5);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
  color: #eeeeee;
} */
/* .j_heart .far{
  position: absolute;
  top: 7px;
  right: 6px;
}
.j_heart .fas{
  position: absolute;
  top: 7px;
  right: 6px;
  opacity: 0;
  color: rgb(255, 133, 133);
} */

.j_box .j_bottom {
  width: 100%;
  /* height: 40px; */
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--font-color);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px 10px;
  text-align: left;
}
.j_box .j_bottom .star {
  font-weight: bold;
  color: #747474;
}
.j_box .j_bottom .star .fa-star,
.j_box .j_bottom .star .fa-star-half {
  color: #ffd900;
  font-size: 10px;
  font-weight: bold;
}
.j_box .j_bottom .j_bottom_tit {
  /* line-height: 3; */
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--font-color);
  margin: 10px 0;
}
.j_box .j_bottom .j_bottom_sub {
  font-size: 14px;
  color: var(--font-color);
}
.J_container hr {
  width: 100%;
  border: 1px solid #dfdfdf86;
}
/* 참여후기 ================= */
.j_review {
  margin-top: 80px;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  font-family: var(--main-ko-font);
  background-color: var(--bg-color);
}
.j_review > .inner {
  /* width: 1200px; */
  /* height: 600px; */
  margin: 0 auto;
  padding: 100px 0;
}
.j_rv_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 50px; */
}
.j_rv_top > .j_title {
  margin-bottom: 0px;
  background-color: var(--side-color);
  color: #fff;
}
/* .fa-circle-plus {
  font-size: 40px;
  color: rgb(146, 146, 146);
  cursor: pointer;
} */
.j_rv_bt {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  /* gap: 1vw; */
}
.j_rv_box {
  width: calc(100% / 4 - 20px);
  /* width: 17.5vw; */
  height: 22vw;
  min-height: 320px;
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3); */
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1);
}
.j_rv_box_top {
  width: 100%;
  height: 55%;
}
.j_rv_box_top img {
  width: 100%;
  height: 100%;
}
.j_rv_box_bt {
  background-color: #fff;
  width: 100%;
  height: 45%;
  padding: 20px;
}
.j_rv_box_bt h3 {
  height: 20%;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 15px;
  color: var(--side-color);
}
.j_rv_box_bt p {
  height: 80%;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  overflow: auto;
}
.j_rv_box_bt p::-webkit-scrollbar {
  width: 10px;
}

.j_rv_box_bt p::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #c4c4c488;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.j_rv_box_bt p::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 이달의 강연  =================*/

/* =================상세페이지================== */
.j_product {
  font-family: var(--main-ko-font);
  margin-top: 80px;
}
.j_product_wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
}
.j_pd_left {
  width: 400px;
  height: 100%;
}
.j_pd_left img {
  width: 100%;
  height: 100%;
}
.j_pd_right {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.j_pd_title {
  margin-bottom: 30px;
}
.j_cate {
  font-weight: bold;
  font-size: 16px;
  color: var(--side-color);
  margin-bottom: 30px;
}
.j_pd_title h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 12px;
}
.j_pd_title p {
  font-size: 12px;
  letter-spacing: 1px;
}
.j_teacher_wrap {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.j_teacher_wrap img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.j_teacher_wrap p {
  font-size: 12px;
  font-weight: bold;
}
.j_schedule {
  margin-bottom: 50px;
}
.j_date {
  display: flex;
  margin-bottom: 15px;
}
.j_date .p1 {
  width: 50px;
  font-size: 14px;
  font-weight: bold;
  border-right: 2px solid #dadada;
  margin-right: 20px;
}
.j_date .p2 {
  font-size: 14px;
  font-weight: bold;
}
.j_bt_wrap {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 30px;
}
.j_bt {
  height: 50px;
  border-radius: 10px;
  border: 3px solid var(--side-color);
  text-align: center;
}
.j_bt1 {
  line-height: 56px;
  width: 50px;
}
.j_bt1 .fas {
  font-size: 24px;
  color: var(--side-color);
}
.j_bt2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  width: 240px;
  background-color: var(--side-color);
  color: #fff;
}
