@charset "utf-8";
@import url(style.css);
@media screen and (max-width: 1800px) {
  /* 메인 */
  .s_vistual_left_area {
    height: 100%;
  }
  /* 프로그램 */
  .sw-s_program {
    height: 200px;
  }
}
@media screen and (max-width: 1200px) {
  /* 헤더 */
  .header {
    padding: 0 2%;
    height: 70px;
  }
  /* 비주얼 */
    /* 비주얼 */
  .s_vistual_right_tit .txt2 {
    line-height: 2;
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  /* 프로그램 스와이퍼 시작 */
  .s_program .swiper-slide {
    transform: scale(0.8);
  }
    .swiper-slide-active {
      transform: scale(1.2);
    }
    .s_program_des {
      padding: 20px 10px;
    }
    .sw-s_program {
      height: 200px;
    }
  /* 인스타그램 */
  .s_instagram > .inner {
    padding: 0 5%;
  }
  .s_instagram_hide {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  /* 비주얼 */
  .s_vistual_right {
    display: none;
  }
  .s_vistual_left {
    width: 80%;
    height: 80vh;
  }
  .s_vistual_left_area {
    width: 100%;
    height: 90%;
  }
  /* 이미지 비율 변경 */
  .s_vistual_left_txt1,
  .s_vistual_left_txt2,
  .s_vistual_left_txt3 {
    width: 35%;
    max-width: 35%;
  }
  .s_vistual_left_img {
    width: 300px;
    max-width: 300px;

    left: 50%;
    translate: -50%;
    bottom: 10%;
    z-index: 10;
  }
  .s_vistual_left_txt1 {
    position: absolute;
    top: 20px;
    right: 20px;
    rotate: 20deg;
  }
  .s_vistual_left_txt2 {
    position: absolute;
    top: 20px;
    left: 28%;
    rotate: 0deg;
  }
  .s_vistual_left_txt3 {
    left: -5%;
    top: 20%;
    rotate: 20deg;
  }
}
@media screen and (max-width: 1000px) {
  /* 소개 */
  .s_brandAbout_ch3 .inner {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 0 5%;
  }
  .s_brandAbout_ch3_tit{
    text-align: center;
    line-height: 1.3;
  }
  /* foryou/ */
  .sw-s_foryou_des {
    margin: 2rem;
    height: auto;
    gap: 10px;
  }
  .sw-s_foryou_des_tit {
    font-size: 2rem;
  }
  .sw-s_foryou_des_txt {
    font-size: 1.5rem;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .foryou_tag1 span,
.foryou_tag2 span,
.foryou_tag3 span
 {
  font-size: 1rem;
}
  /* 프로그램 */
  .s_program {
    /* height: 90vh; */
  }
}
@media screen and (max-width: 900px) {
  /* 프로그램 */
  .sw-s_program {
    height: 150px;
  }
  /* 인스타그램 */
  .s_instagram_img_wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .s_vistual_left_area {
    height: 80%;
  }
  
}
@media screen and (max-width: 768px) {
  /* 전체 */
  html {
    font-size: 9px;
  }
  /* 헤더 */
  nav {
    display: none;
  }
  .top-menu-icons a {
    font-size: 3rem;
  }
  .xi-search {
    display: none;
  }
  .mbt {
    display: block;
  }
  .top-menu .top-menu-icons > a {
    margin-right: 55px;
  }
  .hide {
    flex-direction: column;
  }
  .nav-mb {
    display: block;
  }
  .nav-mb-gnb {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-mb-gnb li {
    position: relative;
    width: 100%;
  }
  .nav-mb-gnb li a {
    font-size: 4.5rem;
  }
  .nav-mb-gnb li:hover > a {
    color: var(--side-color);
  }
  .navigation > li > a:before {
    content: "";
    background: var(--side-color);
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 0.125rem;
    transition: all 0.2s ease-in-out;
  }
  .navigation > li > a:hover {
    background-position: 0;
  }
  .navigation > li > a:hover::before {
    width: 100%;
  }
  /* 비주얼 */
  .s_vistual_left {
    width: 90%;
  }
  /* 브랜드 소개 */
  .s_brandAbout_logodes .inner {
    display: flex;
    flex-direction: column;
  }
  .s_brandAbout_right {
    z-index: 1;
    max-width: 200px;
  }
  /* 배너 */
  .s_brandAbout_ch3_tit {
    width: 340px;
    line-height: 1.5;
  }
    /* for you */ 
  .sw-s_foryou_des {
    text-align: center;
  }
  .sw-s_foryou_img {
    width: 100%;
  }
  .sw-s_foryou_des {
    width: 100%;
  }
  .sw-s_foryou_des_txt {
    margin: 2rem 0;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .sw-s_foryou_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 5%;
  }
  .sw-s_foryou_des {
    width: 95%;
    margin: 1.8rem;
    padding-left: 0;
  }
  .sw-s_foryou_des_tit {
    padding-top: 10px;
    font-size: 3rem;
  }
  .sw-s_foryou_box_reverse {
    flex-direction: column-reverse;
  }
  .sw-s_foryou_des > a > .s_btn {
    font-family: "Montserrat";
    width: 130px;
    padding: 10px;
    border-radius: 3rem;
    color: #fff;
    background-color: var(--main-color);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: auto;
    text-transform: capitalize;
    font-size: 1.3rem;
    transition: all 0.7s ease;
    gap: 0.25rem;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  }
  .sw-s_foryou_des .foryou_tag1,
  .sw-s_foryou_des .foryou_tag3,
  .sw-s_foryou_des .foryou_tag2
{
  display: flex;
  justify-content: center;
}
  /* ARROWS */
  .sw-s_foryou > .swiper-button-prev,
  .sw-s_foryou > .swiper-button-next {
    display: none;
  }
  .sw-s_foryou_pg {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  /* 비주얼 */
  .s_vistual_left {
    height: 90vh;
  }
  .s_vistual_left_txt1,
  .s_vistual_left_txt2,
  .s_vistual_left_txt3 {
    display: none;
  }
  .s_vistual_left_txtBox {
    font-family: "UhBeeSe_hyun";  
    display: block;
    height: 40%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .s_vistual_left_txt11,
  .s_vistual_left_txt22,
  .s_vistual_left_txt33 {
    color: white;
    font-size: 2rem;
  }
  .s_vistual_left_img {
    width: 100%;
    max-width: 300px;
  }
  /* 프로그램 */
  .s_program > .bk-slider {
    width: 90vw;
  }
  /* 배너 */
}

@media screen and (max-width: 500px) {
  /* 타이틀 */
  .title {
    margin-top : 0;
  }
  .title2 {
    width: 300px;
    margin: 20px auto;
    line-height: 1.5;
  }
  /* 탑메뉴 */
  .top-button {
    right: 15px;
  }
  /* 브랜드 소개 */
  .s_brandAbout_ch3_img {
    max-width: 250px;
    width: 250px;
  }
  .s_brandAbout_ch3_tit {
    font-size: 2rem;
    width: 220px;
    line-height: 1.5;
  }
  /* 프로그램 */
  .s_program_des {
    padding: 10px auto;
  }
  .s_program_tit {
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
    white-space: normal;
    display: block;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; 
  }
  .banner1,
  .banner2{
    display: none;
  }
  .banner1Mobile,
  .banner2Mobile{
    display: block;
    max-width: 300px;
  }
}
@media screen and (max-width: 400px) {
  /* 헤더 */
  .logo-web {
    display: none;
  }
  .logo {
    width: 80px;
    transform: scaleX(-1);
  }
  .logo-mb {
    display: block;
  }
  /* 비주얼 */
  .s_vistual_left_img {
    width: 250px;
    max-width: 250px;
  }
  /* 브랜드 소개 */
  .s_brandAbout_left_txt {
    font-size: 2.5rem;
  }
  /* for you */
  .sw-s_foryou_des_tit {
    font-size: 2.5rem;
  }
  .s_foryou {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 360px) {
    /* 프로그램 */
    .s_program > .bk-slider {
      width: 100vw;
    }
  .s_program_tit {
    font-size: 2.2rem;
  }
  .s_program_txt {
    font-size: 1.5rem;
  }
  .s_program > .bk-slider {
    margin: 50px 0 0 0;
  }
}
@media screen and (max-width: 330px) {
  /* for you */
  .sw-s_foryou_des_tit {
    font-size: 2.3rem;
  }
  .sw-s_foryou_des_txt {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
