@charset "utf-8";
@media screen and (max-width:1800px){
  /* 프로그램 */
  .s_program_txt {
    display: none;
  }
  .sw-s_program {
    height: 200px;
  }
  .s_program .s_btn {
    margin: 15% auto;
}
}
@media screen and (max-width: 1200px) {
  /* 헤더 */
  .header {
    padding: 0 2%;
    height: 70px;
  }
  /* 프로그램 스와이퍼 시작 */
.s_program .swiper-slide {
  transform: scale(0.8);

  &.swiper-slide-active {
    transform: scale(1.2);
  }
  .s_program_tit{
    font-size: 2rem;
  }
  .sw-s_program {
    height: 200px;
  }
}
  /* 인스타그램 */
  .s_instagram > .inner {
    padding: 0 5%;
  }
  .s_instagram_hide {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
/* 비주얼 */
.s_vistual_right {
  display: none;
}
.s_vistual_left {
  width: 80%;
  height: 80vh;
}
.s_vistual_left_area{
  width: 100%;
}
/* 이미지 비율 변경 */
.s_vistual_left_txt1 ,
.s_vistual_left_txt2 ,
.s_vistual_left_txt3  {
  width: 40%;
  max-width: 40%;
}
.s_vistual_left_img 
{
  width: 300px;
  max-width: 300px;

  left: 50%;
  translate: -50%;
  bottom: 10%;
  z-index: 10;
}
.s_vistual_left_txt1 {
  position: absolute;
  top: 0;
  right: 0;
  rotate: 20deg;
 }
 .s_vistual_left_txt2 {
   position: absolute;
   top: 0;
   left: 30%;
   rotate: 0deg;
 }
 .s_vistual_left_txt3 {
  left: -10%;
  top: 10%;
  rotate: 20deg;
 }
}
@media screen and (max-width: 1000px) {
  /* foryou/ */
  .sw-s_foryou_des {
    margin: 2rem;
    height: auto;
    gap:10px;
  }
  .sw-s_foryou_des_tit{
  font-size: 2rem;
  }
  .sw-s_foryou_des_txt {
    font-size: 1.5rem;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  /* 프로그램 */
  .s_program  {
    height: 90vh;
  }
  }
@media screen and (max-width: 900px) {
  /* 프로그램 */
  .sw-s_program {
    height: 150px;
  }
  /* 인스타그램 */
  .s_instagram_img_wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 768px) {
  /* 전체 */
  html {
    font-size: 9px;
  }
  /* 헤더 */
  nav {
     display: none;
  }
  .top-menu-icons a {
    font-size: 3rem;
  }
  .xi-search {
    display: none;
  }
  .mbt {
    display: block;
  }
  .top-menu .top-menu-icons > a {
    margin-right: 55px;
  }
  .hide {
    flex-direction: column;
  }
  .nav-mb-gnb {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-mb-gnb li {
    position: relative;
  }
  .nav-mb-gnb li a {
    font-size: 5rem;
  }
  .nav-mb-gnb li:hover > a {
    color: var(--side-color);
  }
  .navigation>li>a:before {
    content: '';
    background: var(--side-color);
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 0.125rem;
    transition: all 0.2s ease-in-out;
}
.navigation>li>a:hover {
  background-position: 0;
}
.navigation>li>a:hover::before {
  width: 100%;
}
/* 비주얼 */
.s_vistual_left {
  width: 90%;
}
/* 브랜드 소개 */
.s_brandAbout_logodes .inner {
  display: flex;
  flex-direction: column;
}
.s_brandAbout_right {
  z-index: 1;
  max-width: 200px;
}
.s_brandAbout_ch3 .inner {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
  /* 프로그램 스와이퍼 시작 */
  .s_program_tit{
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  /* for you */
  .sw-s_foryou_img{
    width: 100%;
  }
.sw-s_foryou_des {
    width: 100%;
  }
  .sw-s_foryou_des_txt{
    margin: 2rem 0;
  }
  .sw-s_foryou_box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
  .sw-s_foryou_des{
    margin: 1.8rem;
    padding-left:0;
  }
  /* ARROWS */
.sw-s_foryou > .swiper-button-prev,
.sw-s_foryou > .swiper-button-next {
  display: none;
}
.sw-s_foryou_pg{
  display: block;
}
}
@media screen and (max-width: 600px) {
  /* 비주얼 */
  .s_vistual_left {
    height: 90vh;
  }
  .s_vistual_left_txt1,
  .s_vistual_left_txt2,
  .s_vistual_left_txt3 {
    display: none;
  }
  .s_vistual_left_txtBox {
    display: block;
    height: 40%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }
  .s_vistual_left_txt11,
  .s_vistual_left_txt22,
  .s_vistual_left_txt33 {
    color: white;
    font-size: 2rem;
  }
  .s_vistual_left_img 
  {
    width: 100%;
    max-width: 300px;
  }
  /* 프로그램 */
.s_program_tit {
  font-size: 1.5rem;
}
}

@media screen and (max-width:500px) {
  /* 브랜드 소개 */
  .s_brandAbout_ch3_img{
    max-width: 250px;
    width: 250px;
  }
  .s_brandAbout_ch3_tit {
    font-size: 2rem;
  }
}
@media screen and (max-width:400px) {
  /* 헤더 */
  .logo-web {
    display: none;
  }
  .logo {
    width: 80px;
    transform: scaleX(-1);
  }
  .logo-mb {
    display: block;
  }
  /* 브랜드 소개 */
  .s_brandAbout_left_tit {
    font-size: 3rem;
  }
  .s_brandAbout_left_txt {
    font-size: 2.5rem;
  }
}