@charset "utf-8";
@media screen and (max-width: 1200px) {
  .header {
    padding: 0 2%;
    height: 70px;
  }
  /* 인스타그램 */
  .s_instagram > .inner {
    padding: 0 5%;
  }
  .s_instagram_hide {
    display: none;
  }

}
@media screen and (max-width: 1000px) {
  /* foryou/ */
  .sw-s_foryou_des {
    margin: 2rem;
    height: auto;
  }
  .sw-s_foryou_des_tit{
  font-size: 2rem;
  }
  .sw-s_foryou_des_txt {
    font-size: 1.5rem;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  }
@media screen and (max-width: 900px) {
  /* 인스타그램 */
  .s_instagram_img_wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 768px) {
  /* 전체 */
  html {
    font-size: 9px;
  }
  /* 헤더 */
  nav {
     display: none;
  }
  .top-menu-icons a {
    font-size: 3rem;
  }
  .xi-search {
    display: none;
  }
  .mbt {
    display: block;
  }
  .top-menu .top-menu-icons > a {
    margin-right: 55px;
  }
  .hide {
    flex-direction: column;
  }
  .nav-mb-gnb {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-mb-gnb li {
    position: relative;
  }
  .nav-mb-gnb li a {
    font-size: 5rem;
  }
  .nav-mb-gnb li:hover > a {
    color: var(--side-color);
  }
  .navigation>li>a:before {
    content: '';
    background: var(--side-color);
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 0.125rem;
    transition: all 0.2s ease-in-out;
}
.navigation>li>a:hover {
  background-position: 0;
}
.navigation>li>a:hover::before {
  width: 100%;
}
/*  배경 */
.overlay {
  display: block;
}
}
@media screen and (max-width: 700px) {
  /* for you */
  .sw-s_foryou_img{
    width: 100%;
  }
.sw-s_foryou_des {
    width: 100%;
  }
  .sw-s_foryou_des_txt{
    margin: 2rem 0;
  }
  .sw-s_foryou_box{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
  }
  .sw-s_foryou_des{
    margin: 1.8rem;
    padding-left:0;
  }
  /* ARROWS */
.sw-s_foryou > .swiper-button-prev,
.sw-s_foryou > .swiper-button-next {
  display: none;
}
.sw-s_foryou_pg{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
}
