@charset "utf-8";
@media screen and (max-width: 1200px) {
  .header {
    padding: 0 2%;
    height: 70px;
  }
  /* 인스타그램 */
  .s_instagram > .inner {
    padding: 0 5%;
  }
  .s_instagram_hide {
    display: none;
  }

}
@media screen and (max-width: 1000px) {
  /* s_mentor */
  .s_Mentor_area {
   gap:1%
  }
  .s_Mentor .inner {
    padding: 10% 5%;
  }
  }
@media screen and (max-width: 900px) {
  /* 인스타그램 */
  .s_instagram_img_wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  /* 전체 */
  html {
    font-size: 9px;
  }
  /* 헤더 */
  nav {
     display: none;
  }
  .top-menu-icons a {
    font-size: 3rem;
  }
  .xi-search {
    display: none;
  }
  .mbt {
    display: block;
  }
  .top-menu .top-menu-icons > a {
    margin-right: 55px;
  }
  .hide {
    flex-direction: column;
  }
  .nav-mb-gnb {
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-mb-gnb li {
    position: relative;
  }
  .nav-mb-gnb li a {
    font-size: 5rem;
  }
  .nav-mb-gnb li:hover > a {
    color: var(--side-color);
  }
  .navigation>li>a:before {
    content: '';
    background: var(--side-color);
    display: block;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 0.125rem;
    transition: all 0.2s ease-in-out;
}
.navigation>li>a:hover {
  background-position: 0;
}
.navigation>li>a:hover::before {
  width: 100%;
}
  /* 멘토 */
  .s_Mentor_area {
    flex-direction: column-reverse;
    gap: 50px;
}
.s_Mentor_area_left{
  text-align: center;
}
.s_Mentor_des > .s_btn {
  margin: 50px auto;
  /* text-align: center; */
}
  /* 프로그램 */
  .s_program > .sw-program {
    min-width: 250px;
  }
  .s_program_des {
    padding: 2.5rem 2rem;
  }
  .s_program_tit {
    font-size: 2rem;
  }
  /* s_letter */
  .s_letter_right .tit {
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 1.3;
  }
  }
@media screen and (max-width: 600px) {
  /* s_letter */
  .s_letter > .inner {
    flex-direction: column;
  }
  .s_letter_right{
    padding: 10%;
  }
  .s_letter_right .tit{
    padding-top: 10%;
  }
}
