@charset "utf-8";
@import url("style.css");

.s_vistual_roundBg,
.s_brandAbout_roundBg {
  width: 100%;
  height: 100px;
  background-image: url("../images/soon/aboutBg.png");
  background-position: center center; /* 가로 및 세로 중앙에 배경 이미지 위치 */
  background-size: cover; /* 이미지를 화면에 꽉 채우도록 크기 조절 */
  background-repeat: no-repeat; /* 이미지 반복 없애기 */
}
/* 비주얼 시작 ********************************************** *********************************************/
.s_vistual {
  background-color: var(--side-color);
  position: relative;
  user-select: none;
}
.s_vistual_left_txtBox {
  display: none;
}
.s_vistual .inner {
  position: relative;
  font-family: var(--sub-ko-font);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: pink; */
  color: #fff;
  width: 100%;
  height: auto;
}
.s_vistual_roundBg {
  position: absolute;
 bottom: 0;
 left: 0;
 margin-bottom: -1px;
}
.s_vistual_left {
  font-family: var(--sub-ko-font);
  position: relative;
  width: 60%;
  height: 90vh;}
.s_vistual_left_area{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90%;
}
.s_vistual_left_img {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 10;
}
.s_vistual_left_img img,
.s_vistual_left_txt1 img,
.s_vistual_left_txt2 img,
.s_vistual_left_txt3 img {
  display: block;
  width: 100%;
  height: auto;
}
/* 이미지 비율 변경 */
.s_vistual_left_txt1 ,
.s_vistual_left_txt2 ,
.s_vistual_left_txt3  {
  width: 40%;
  max-width: 40%;
}
.s_vistual_left_img 
{
  width: 350px;
  max-width: 350px;
}
.s_vistual_left_txt1 {
 position: absolute;
 bottom: 55%;
 right: 0;
}
.s_vistual_left_txt2 {
  position: absolute;
  bottom: 45%;
  right: 42%;
  rotate: -30deg;
}
.s_vistual_left_txt3 {
  position: absolute;
  right: 55%;
  bottom: 20%;
  z-index: 1;
}
/* 오른쪽 타이틀 */
.s_vistual_right_tit {
  text-align: right;
  color: var(--main-color);
  line-height: 1.2;
  font-family: var(--main-ko-font);
}
.s_vistual_right_tit .txt1{
  font-family: var(--side-ko-font);
  font-size: 3rem;
  color: white;
}
.s_vistual_right_tit .txt2{
  font-family: var(--side-ko-font);
  font-size: 3rem;
  color: white;
  letter-spacing: 0.25rem;
}
.s_vistual_right_tit .txt2 span{
  font-size: 4rem;
}
/*  브랜드 소개 ********************************************** *********************************************/
.s_brandAbout {
  position: relative;
  user-select: none;
}
.s_brandAbout_logodes {
  width: 100%;
  height: 380px;
  display: flex;
  background-color: var(--bg-color);
  position: relative;
}

/* 브랜드 소개 둥근 이미지 */
/*  */
.s_brandAbout_roundBg {
  position: absolute;
  left: 0;
  bottom: -15%;
  transform: rotate(180deg);
}
.s_brandAbout_logodes .inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.s_brandAbout_left {
  font-family: var(--side-ko-font);
  color: var(--side-color);
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}
.s_brandAbout_left_tit {
  font-family: var(--side-ko-font);
  color: var(--main-color);
  font-size: 7rem;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  animation: bounce 2s infinite; 
}
.s_brandAbout_left_tit span {
  color: var(--main-color);
  top: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  animation: bounce 5s infinite;  ; /* 바운스 애니메이션 적용 */
}
.s_brandAbout_left_txt {
  text-align: right;
  font-size: 3rem;
  line-height: 2;
  font-weight: bold;
  text-transform: uppercase;
}
.s_brandAbout_right {
  /* background-color: lightblue; */
}
.s_brandAbout_right > img {
  width: 100%;
  height: 100%;
  max-width: 250px;
}
/* 브랜드 소개 하단 */
.s_brandAbout_ch3 {
  font-family: var(--side-ko-font);
  width: 100%;
  /* height: 400px; */
  background-color: var(--main-color);
}
.s_brandAbout_ch3 .inner {
  display: flex;
  align-items: center;
  padding: 100px 0 50px;
  justify-content: space-evenly;
}
.s_brandAbout_ch3_img {
  width: 300px;
}
.s_brandAbout_ch3_img img {
  width: 100%;
}
.s_brandAbout_ch3_tit {
  font-size: 3rem;
  color: #fff;
}

/* 이달의 할인 배너 및 리뷰 적립 */
.sw-s_banner2 {
  width: 100%;
  position: relative;
  margin: 5% auto 10%;
}
/* 이달의 할인 배너 및 리뷰 적립 스와이퍼 적용 */
.sw-s_banner2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sw-s_banner2 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sw-s_banner2 .sw-s_banner2-pg {
  position: absolute;
  bottom: 20px;
  left: 0;
}
.sw-s_banner2-pg .swiper-pagination-bullet {
  background-color: var(--bg-color);
}

.banner1Mobile,
.banner2Mobile{
  display: none;
}

/* 프로그램 시작 ********************************************** *********************************************/
.s_program {
  padding-bottom: 3rem;
  height: 100%;
  overflow: hidden;
  /* background-color: aqua; */
  margin: auto;
}
.s_program_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  margin-top: 50px;
  padding-bottom: 50px;
}
.s_program_btn {
  font-family: "Montserrat";
  width: 130px;
  padding: 10px;
  border-radius: 3rem;
  color: #fff;
  background-color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: auto;
  text-transform: capitalize;
  font-size: 1.3rem;
  transition: all 0.7s ease;
  gap: 0.25rem;
  margin: 0 auto ;
}
.s_program_btn:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: #FFF;
}
/* 프로그램 스와이퍼 시작 */
.s_program > .bk-slider {
  position: relative;
  /* width: 65vw; */
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
  /* background-color: burlywood; */
}
.sw-s_program {
  height: 300px;
  overflow: visible;
  /* background-color: chartreuse; */
}
.s_program .swiper-slide {
  /* 활성화된 슬라이드에 대한 스타일 */
  filter: brightness(50%);
}
.s_program .swiper-slide {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  transition: all 0.3s ease;
  color: black;
  transform: scale(0.8);

  &.swiper-slide-active {
    color: black;
    transform: scale(1);
    z-index: 2;
    filter: brightness(100%);
  }
}
.s_program_box {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  /* background-color: pink; */
}
.s_program_box img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.s_program_des {
  width: 100%;
  text-align: center;
  padding: 30px 10px;
  border-radius: 10px;
  color: black;
}
.s_program_tit {
  max-width: 350px;
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2rem;
  line-height: 2;
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /* 말줄임 적용 */
}
.s_program_txt {
  font-size: 1.8rem;
  line-height: 1.3;
  overflow: hidden;

  height: 50px;
  display: inline-block;
  text-overflow: ellipsis;
  display: inline-block;
  -webkit-line-clamp: 2; 
}
.s_program_tag {
  font-family: var(--main-en-font);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.s_program_tag span {
  font-family: var(--main-en-font);
  text-transform: uppercase;
  font-size: 1.3rem;
  background-color: #eee;
  border-radius: 10px;
  padding: 5px;
}
.s_program_tag span.redTag {
  color: tomato; border: 1PX solid tomato; background-color: #FFF;
}
.program_btn {
  display: block;
  width: 100%;
  margin: 2% auto 100px;
}
/*  내마음봄이 처음이라면? ********************************************** *********************************************/
.s_foryou {
  height: 100%;
  padding-bottom: 15rem;
  background-color:var(--bg-color-ivory);
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px; */
}
/* for you 스와이퍼 시작 */
.sw-s_foryou {
  position: relative;
  width: 100%;
  height: 100%;
}
.sw-s_foryou_pg {
  display: none;
}
.sw-s_foryou .swiper-scrollbar {
  position: absolute; /* 스크롤바를 절대 위치로 지정합니다. */
  bottom: 10px; /* 하단 여백 조절 */
  left: 50%; /* 가운데 정렬을 위해 왼쪽 여백을 50%로 설정합니다. */
  transform: translateX(-50%); /* 가운데 정렬을 위해 요소를 왼쪽으로 이동합니다. */
  z-index: 50; /* 스크롤바가 다른 요소 위에 나타나도록 설정합니다. */
}
.sw-s_foryou > .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  스와이퍼 추가 */
.sw-s_foryou_box {
  display: flex;
  padding: 0 10%;
  width: 100%;
}
.sw-s_foryou_img {
  position: relative;
  display: block;
  width: 55%;
  height: auto;
}
.sw-s_foryou_img > img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.sw-s_foryou_des {
  width: 50%;
  height: 300px;
  max-height: 300px;

  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-direction: column;
  padding-left: 5%;
}
.sw-s_foryou_des .foryou_tag1,
.sw-s_foryou_des .foryou_tag3
{
  display: flex;
  justify-content: flex-start;
}
.sw-s_foryou_des .foryou_tag2
{
  display: flex;
  justify-content: flex-end;
}

.foryou_tag1 span,
.foryou_tag2 span,
.foryou_tag3 span
 {
  font-size: 1.3rem;
}
.sw-s_foryou_des2 {
  padding-left: 0;
  padding-right: 5%;
  text-align: right;
}
.sw-s_foryou_des_tit {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.2;
}
.sw-s_foryou_des_txt {
  font-size: 1.5rem;
  line-height: 1.5;
}
.sw-s_foryou_des > a > .s_btn {
  display: block;
  width: 100%;
  padding: 3%;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.3rem;
  border-radius: 30px;
  text-align: center;
  margin: 0;
}
.sw-s_foryou_des_btn:hover {
  background-color: var(--main-color);
  color: #fff;
}
/* ARROWS */
.sw-s_foryou > .swiper-button-prev,
.sw-s_foryou > .swiper-button-next {
  color: var(--main-color);
}
/* **************************************************** soon 모름 */
.s_soon {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
}
.s_soon_area {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 80px;
  padding: 50px 50px 100px;
}
.s_soon_area .s_soon_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}
.s_soon_area .s_soon_card:hover {
  height: 400px;
  cursor: pointer;
}
.s_soon_area .s_soon_card .s_soon_card_imgBox {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background:var(--side-color);
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.s_soon_area .s_soon_card:hover .s_soon_card_imgBox {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
/* 중간에 효과 */
.s_soon_area .actived1 {
  height: 400px;
  cursor: pointer;
}
.s_soon_area .s_soon_card .actived2 {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.s_soon_area .s_soon_card .actived3 {
  top: 130px !important;
  height: 250px !important;
}
.s_soon_area .s_soon_card .s_soon_card_imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.s_soon_area .s_soon_card .s_soon_card_textBox {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}
.s_soon_area .s_soon_card:hover .s_soon_card_textBox {
  top: 130px;
  height: 250px;
}
.s_soon_area .s_soon_card .s_soon_card_textBox h2 {
  font-size: 2rem;
  line-height: 2;
  font-weight: 700;
  color: var(--clr);
}
.s_soon_area .s_soon_card .s_soon_card_textBox p {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 10px;
  color: #333;
}
.s_soon_area .s_soon_card .s_soon_card_textBox a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 10px 25px;
  background: var(--clr);
  color: white;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: var(--main-en-font);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}
.s_soon_area .s_soon_card .s_soon_card_textBox a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1350px) {
  .s_soon_area {
    gap:100px 50px;
  }
  .s_soon{
    height: 100%;
  }

}
@media screen and (max-width: 900px) {
  .s_soon_area {
    flex-wrap: nowrap;
    gap: 100px 30px;
    padding: 50px 30px 100px;
  }
  .s_soon_card:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .s_soon_area {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  } 
}
@media screen and (max-width: 400px) {
  .s_soon_area .s_soon_card .s_soon_card_imgBox {
    width: 250px;
  }
  
}


/* 이달의 영상 시작 ********************************************** *********************************************/
.s_Mentor {
  font-family: var(--main-ko-font);
}
.s_Mentor_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.s_Mentor_des .tit {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des .name {
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des .name > span {
  font-size: 1.8rem;
}
.s_Mentor_des .tit2 {
  font-size: 1.8rem;
  padding: 3rem 0 0.5rem;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des > .s_btn {
  margin-top: 10%;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des.active .tit {
  transition: all 1s 0.2s;
  opacity: 1;
  transform: translateY(0);
}
.s_Mentor_des.active .tit2 {
  transition: all 1s 0.3s;
  opacity: 1;
  transform: translateY(0);
}
.s_Mentor_des.active .name {
  transition: all 1s 0.3s;
  opacity: 1;
  transform: translateY(0);
}
.s_Mentor_des.active > .s_btn {
  transition: all 1s 0.5s;
  opacity: 1;
  transform: translateY(0);
}

/* 리뷰 시작 ********************************************** **********************************************/

/* 공지사항 시작 ********************************************** **********************************************/

/* 인스타그램 시작 ********************************************** *********************************************/
.s_instagram {
  width: 100%;
  padding-bottom: 100px;
}
.s_instagram_img_wrap {
  padding: 3rem 0;
  display: flex;
  gap: 1%;
}
.s_instagram a img {
  width: 100%;
  height: 100%;
}
.s_instagram .s_btn {
  margin: 30px auto;
}
.s_instagram > .s_btn {
  margin: 50px auto;
  text-align: center;
}
