@charset "utf-8";
@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");
@font-face {
  font-family: "UhBeeSe_hyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 공통 컬러*/
:root {
  --sub-ko-font: "UhBeeSe_hyun";
}
.s_vistual_roundBg,
.s_brandAbout_roundBg {
  width: 100%;
  height: 100px;
  background-image: url("../images/soon/aboutBg.png");
  background-position: center center; /* 가로 및 세로 중앙에 배경 이미지 위치 */
  background-size: cover; /* 이미지를 화면에 꽉 채우도록 크기 조절 */
  background-repeat: no-repeat; /* 이미지 반복 없애기 */
}
/* 비주얼 시작 ********************************************** *********************************************/
.s_vistual {
  background-color: var(--side-color);
  position: relative;
}
.s_vistual_left_txtBox {
  display: none;
}
.s_vistual .inner {
  position: relative;
  font-family: var(--sub-ko-font);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: pink; */
  color: #fff;
  width: 100%;
  height: auto;
}
.s_vistual_roundBg {
  position: absolute;
 bottom: 0;
 left: 0;
 margin-bottom: -1px;
}
.s_vistual_left {
  font-family: var(--sub-ko-font);
  position: relative;
  width: 60%;
  height: 90vh;}
.s_vistual_left_area{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90%;
}
.s_vistual_left_img {
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: 10;
}
.s_vistual_left_img img,
.s_vistual_left_txt1 img,
.s_vistual_left_txt2 img,
.s_vistual_left_txt3 img {
  display: block;
  width: 100%;
  height: auto;
}
/* 이미지 비율 변경 */
.s_vistual_left_txt1 ,
.s_vistual_left_txt2 ,
.s_vistual_left_txt3  {
  width: 40%;
  max-width: 40%;
}
.s_vistual_left_img 
{
  width: 350px;
  max-width: 350px;
}
.s_vistual_left_txt1 {
 position: absolute;
 bottom: 55%;
 right: 0;
}
.s_vistual_left_txt2 {
  position: absolute;
  bottom: 45%;
  right: 42%;
  rotate: -30deg;
}
.s_vistual_left_txt3 {
  position: absolute;
  right: 55%;
  bottom: 20%;
  z-index: 1;
}
/* 오른쪽 타이틀 */
.s_vistual_right_tit {
  text-align: right;
  color: var(--main-color);
  line-height: 1.2;
  font-family: var(--main-ko-font);
}
.s_vistual_right_tit .txt1{
  font-size: 3rem;
  color: white;
}
.s_vistual_right_tit .txt2{
  font-size: 4rem;
  font-weight: 900;
  color: white;
  letter-spacing: 0.25rem;
}
/*  브랜드 소개 ********************************************** *********************************************/
.s_brandAbout {
  position: relative;
}
.s_brandAbout_logodes {
  width: 100%;
  height: 380px;
  display: flex;
  background-color: var(--bg-color);
  position: relative;
}

/* 브랜드 소개 둥근 이미지 */
/*  */
.s_brandAbout_roundBg {
  position: absolute;
  left: 0;
  bottom: -15%;
  transform: rotate(180deg);
}
.s_brandAbout_logodes .inner {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.s_brandAbout_left {
  font-family: var(--sub-ko-font);
  color: var(--side-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s_brandAbout_left_tit {
  font-family: var(--main-en-font);
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
.s_brandAbout_left_tit span {
  color: var(--main-color);
  top: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  animation: bounce 5s infinite;  ; /* 바운스 애니메이션 적용 */
}
.s_brandAbout_left_txt {
  font-size: 3rem;
  line-height: 3;
  font-weight: bold;
  text-transform: uppercase;
}
.s_brandAbout_right {
  /* background-color: lightblue; */
}
.s_brandAbout_right > img {
  width: 100%;
  height: 100%;
}
/* 소개 하단 */
.s_brandAbout_ch3 {
  font-family: var(--sub-ko-font);
  width: 100%;
  /* height: 400px; */
  background-color: var(--main-color);
}
.s_brandAbout_ch3 .inner {
  display: flex;
  align-items: center;
  padding: 100px 0 50px;
  justify-content: space-evenly;
}
.s_brandAbout_ch3_img {
  width: 300px;
}
.s_brandAbout_ch3_img img {
  width: 100%;
}
.s_brandAbout_ch3_tit {
  font-size: 3rem;
  color: #fff;
}

/*  For you ********************************************** *********************************************/
/* for you 스와이퍼 시작 */
.sw-s_foryou {
  position: relative;
  width: 100%;
  height: 100%;
}
.sw-s_foryou_pg {
  display: none;
}
.sw-s_foryou .swiper-scrollbar {
  position: absolute; /* 스크롤바를 절대 위치로 지정합니다. */
  bottom: 10px; /* 하단 여백 조절 */
  left: 50%; /* 가운데 정렬을 위해 왼쪽 여백을 50%로 설정합니다. */
  transform: translateX(-50%); /* 가운데 정렬을 위해 요소를 왼쪽으로 이동합니다. */
  z-index: 50; /* 스크롤바가 다른 요소 위에 나타나도록 설정합니다. */
}
.sw-s_foryou > .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  스와이퍼 추가 */
.sw-s_foryou_box {
  display: flex;
  padding: 0 10%;
  width: 100%;
}
.sw-s_foryou_img {
  position: relative;
  display: block;
  width: 55%;
  height: auto;
}
.sw-s_foryou_img > img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.sw-s_foryou_des {
  /* width: 500px;
  max-width: 500px; */
  width: 50%;
  height: 300px;
  max-height: 300px;

  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-direction: column;
  padding-left: 5%;
}
.sw-s_foryou_des_tit {
  font-weight: bold;
  font-size: 2.5rem;
}
.sw-s_foryou_des_txt {
  font-size: 1.5rem;
  line-height: 1.5;
}
.sw-s_foryou_des > .s_btn {
  display: block;
  width: 100%;
  padding: 3%;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.3rem;
  border-radius: 10px;
  text-align: center;
  margin: 0;
}
.sw-s_foryou_des_btn:hover {
  background-color: var(--main-color);
  color: #fff;
}
/* ARROWS */
.sw-s_foryou > .swiper-button-prev,
.sw-s_foryou > .swiper-button-next {
  color: var(--main-color);
}

/* 프로그램 시작 ********************************************** *********************************************/
.s_program {
  padding-bottom: 3rem;
  height: 100vh;
  overflow: hidden;
}
.s_program .s_btn {
  margin: 20px auto;
}
/* 프로그램 스와이퍼 시작 */
.s_program > .bk-slider {
  position: relative;
  width: 65vw;
  height: auto;
  padding: 100px 0;
  margin: 0 auto;
  /* background-color: pink; */
}
.sw-s_program {
  width: 100%;
  height: 300px;
  overflow: visible;
}
.swiper-wrapper {
}
.s_program .swiper-slide.swiper-slide {
  /* 활성화된 슬라이드에 대한 스타일 */
  filter: brightness(50%);
}
.s_program .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  transition: all 0.3s ease;
  color: black;
  transform: scale(0.7);

  &.swiper-slide-active {
    color: black;
    /* background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117)); */
    transform: scale(1);
    z-index: 2;
    filter: brightness(100%);
  }
}
.s_program_box {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  /* background-color: pink; */
}
.s_program_box img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.s_program_des {
  width: 100%;
  text-align: left;
  padding: 30px 20px;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent); */
  border-radius: 10px;
  color: black;

  /* position: absolute;
  left: 0;
  bottom: 0; */
}
.s_program_tit {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
}
.s_program_txt {
  font-size: 1.8rem;
  line-height: 2;
  display: none;
}
/* 이달의 영상 시작 ********************************************** *********************************************/
.s_Mentor {
  font-family: var(--main-ko-font);
}
.s_Mentor_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.s_Mentor_des .tit {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.2;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des .name {
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des .name > span {
  font-size: 1.8rem;
}
.s_Mentor_des .tit2 {
  font-size: 1.8rem;
  padding: 3rem 0 0.5rem;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des > .s_btn {
  margin-top: 10%;
  opacity: 0;
  transform: translateY(100px);
}
.s_Mentor_des.active .tit {
  transition: all 1s 0.2s;
  opacity: 1;
  transform: translateY(0);
}
.s_Mentor_des.active .tit2 {
  transition: all 1s 0.3s;
  opacity: 1;
  transform: translateY(0);
}
.s_Mentor_des.active .name {
  transition: all 1s 0.3s;
  opacity: 1;
  transform: translateY(0);
}
.s_Mentor_des.active > .s_btn {
  transition: all 1s 0.5s;
  opacity: 1;
  transform: translateY(0);
}

/* 리뷰 시작 ********************************************** **********************************************/

/* 공지사항 시작 ********************************************** **********************************************/

/* 인스타그램 시작 ********************************************** *********************************************/
.s_instagram {
  width: 100%;
  padding-bottom: 100px;
}
.s_instagram_img_wrap {
  padding: 3rem 0;
  display: flex;
  gap: 1%;
}
.s_instagram a img {
  width: 100%;
  height: 100%;
}
.s_instagram .s_btn {
  margin: 30px auto;
}
.s_instagram > .s_btn {
  margin: 50px auto;
  text-align: center;
}
