@charset "utf-8";
@import url(font.css);
@import url(soon.css);
@import url(jiwon.css);
@import url(jiwon-res.css);
@import url(taehun.css);
@import url(responsive.css);



a {color: #3a3c3b;text-decoration: none;}
img {border: 0;vertical-align: middle;}
html {font-size: 10px;}
html.active {overflow: hidden;}
body {
  font-family: 'SUITE-Regular', "Montserrat", sans-serif;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 400;
  color : var(--font-color);
  word-break: keep-all;
}
/* 탑버튼 */
.top-button{
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 9999;
}
.top-button .chat-btn span {
  line-height: 1.3;
  font-family: var(--side-ko-font);
  display: block;
  position: absolute;
  top: -60px;
  right: 0;
  width: 70px;
  background-color: #ffff;
  border-radius: 20px;
  padding: 8px 10px;
  text-align: center;
  box-shadow: 0px 3px 7px 0 rgba(182, 182, 182, 0.8);
  /* animation: updown 0.5s infinite; */
}
.top-button .chat-btn span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  translate: -50%;
  width: 10px;
  height: 10px;
  background-color: white;
  rotate: 45deg;
  
}
/* .chat-btn:hover span {
  display: block;
} */
.chat-btn{
  width: 100%;height: 100%;
}
.chat-btn img {
    width: 70px;
    animation: updown 0.8s infinite; /* 시간을 나타내는 단위는 "s"입니다. */
  }
  /* 애니메이션 효과 */
  @keyframes updown {
    0% {
      transform: translateY(0); /* "translatey" 대신 "translateY"로 수정 */
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }

/* 하트 아이콘  */
.s_program_box .fa-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  font-size: 1.8rem;
  color: #eeeeee;
  cursor: pointer;
}
.fa-heart {
  font-family: var(--side-ko-font);
  background-color: rgba(0, 0, 0, 0.5);
}
.heart.fas:before {
  content: "\f004";
  color: #eeeeee; /* 채워진 하트 색상 */
  background-color: transparent;
}
/* 전체 레이아웃 ********************************************** *********************************************/
.wrap {
  position: relative;
  display: block;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}
/* 공통 컬러*/
:root {
  --main-color:  #FFBE98;
  --side-color: #589856;
  --bg-color: #FFF8E9;
  --font-color: #3A3C3B;
  --bg-color-ivory: #fffcf6;
  --main-ko-font: 'SUITE-Regular';
  --main-en-font: "Montserrat";
  --side-ko-font: "UhBeeSe_hyun";

  /* 네비 */
  --primary: #24ce8f;
  --background: black;
  --nav-background:white;
  --nav-item-bg-hover: #79797920;
  --navbar-height: 70px;
  --text-gray: #252525;
  --text-white: white;
}
/* 타이틀 */
.title {
  font-family:  "Montserrat";
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding-top: 150px;
  margin-top: 50px;
  padding-bottom: 50px;
  letter-spacing: -0.1rem;
}
.title2 {
  font-family: var(--main-ko-font);
  font-size: 1.8rem;
  line-height: 4;
  letter-spacing: 0.1rem;
}
/* 버튼 */
/* <div class="btn btn--white">view more</div> */
.s_btn {
  font-family: "Montserrat";
  width: 130px;
  padding: 10px;
  border-radius: 3rem;
  color: #fff;
  background-color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: auto;
  text-transform: capitalize;
  font-size: 1.3rem;
  transition: all 0.7s ease;
  gap: 0.25rem;
  margin: 50px auto 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}
.s_btn:hover {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: #fff;
}
.s_btn.s_btn--reverse {
  color: #fff;
  background-color: transparent;
}
.s_btn.s_btn--reverse:hover {
  background-color: transparent;
  color: var(--main-color);
}
.s_btn.s_btn--green {
  color: var(--side-color);
  background-color: transparent;
  border: 2px solid var(--side-color);
}
.s_btn.s_btn--green:hover {
  background-color: var(--side-color);
  color: #fff;
}
/* 헤더 시작*********************************************** *********************************************/
/*상단 */
.header {
  font-family: var(--main-en-font);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;

  width: 100%;
  height: 70px;
  padding: 0 60px;
  background-color: white;
  /* background-color: rgba(255, 255 , 255, 0.8);
  backdrop-filter : blur(20px); */
  /* border-bottom : 1px solid #d2d2d2; */
  z-index: 99999;
  transition: all 0.5s;
}
.header > .top-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--side-color);
}

/* 로고 */
.top-menu-logo{
  display: flex;
}
.logo {
  display: block;
  padding: 8px 12px;
  width: 140px;
}
.logo-mb{
  display: none;
}
.logo img{
  width: 100%;
}
/* 네비  */
nav {
  font-size: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: var(--navbar-height);
}
.navigation {
  max-width: 50rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation li {
  position: relative;
  flex-grow: 1;
  transition: all 0.5s ease;
  user-select: none;
  height: 100%;
  display: flex;
  justify-content: center;
  /* background-color: var(--side-color); */
}
.navigation a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 12px;
  min-height: 4rem;
  color: var(--side-color);
  background-image: 
  linear-gradient( to right,
      var(--text-white),
      var(--text-white) 50%,
      var(--side-color) 50%);
      background-size: 200% 100%;
      background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:  all 0.7s ease;
  gap:0.25rem
}
.navigation a:hover {
  background-position: 0;
}
.navigation li:hover {
  background: var(--side-color);
}
.navigation > li:hover > a {
  background-position: 0;
}
.navigation>li>a>svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.7s ease;
}
.navigation>li:hover>a>svg {
  stroke: var(--side-color);
  transform: rotate(90deg);
}
.subnavigation__wrapper {
  overflow: hidden;
  max-height: 0;
  position: absolute;
  transition: max-height 0.3s ease-in-out;
  background-color: var(--nav-background);
  width: 100%;
}
.navigation >li:hover .subnavigation__wrapper {
  max-height: 20rem;
  top: var(--navbar-height);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

/* 메뉴 아이콘 */
.top-menu-icons {
  display: flex;
}
.top-menu-icons a {
  color: var(--side-color);
  padding: 8px 12px;
  font-size: 2rem;
}
/* 검색 */
.header .top-menu-icons .search {
  height: 34px;
  position: relative;
}
.header .top-menu-icons .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  transition: width 0.4s;
  outline: none;
  border: 1px solid white;
  border-radius: 30px;
}
.header .top-menu .top-menu-icons .search input:focus {
  width: 150px;
  border-color: var(--side-color)
}
.header .top-menu .top-menu-icons .search .xi-search  {
  width: 36px;
  height: 34px;
  position: absolute;
  top:7px;
  right: 2px;
  margin: auto;
  transition: 0.4s;
}
.header .top-menu .top-menu-icons .search.focused .xi-user-o{
  opacity: 0;
}

/* 햄버거 눌렀을 때 색상 바뀜 */
.mbt {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 30px;
  width: 25px;
  height: 17px;
  background-color: transparent;
  border: 0;
  z-index: 999;
  cursor: pointer;
  padding: 8p 12px;
}
.mbt span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color:var(--side-color);
}
/* 엑스 바꿔주기 */
.mbt span:nth-child(1) {
  top: 0;
  transform-origin: 0 50%;
  transition: all 0.3s;
}
.mbt.ani span:nth-child(1) {
  transform: rotate(45deg);
}
.mbt span:nth-child(2) {
  top: 50%;
}
.mbt.ani span:nth-child(2) {
  opacity: 0;
}
.mbt span:nth-child(3) {
  top: 100%;
  transform-origin: 0 50%;
  transition: all 0.3s;
}
.mbt.ani span:nth-child(3) {
  transform: rotate(-45deg);
}
/* 모바일 메뉴 리스트 */
.nav-mb {
  display: none;
  position: absolute;
  top: -100vh; /* 초기에는 화면 위쪽에 숨겨둡니다. */
  left: 0;
  width: 100%;
  height: 100vh;
background-color: var(--bg-color);

  opacity: 1;
  transition: all 0.3s ease; /* top 속성에 대한 변화를 부드럽게 처리하기 위해 transition 추가 */
  z-index: 9;
  justify-content: center;
}
.nav-mb.active {
  top: 0; /* active 클래스가 추가되면 화면의 맨 위로 이동합니다. */
}
.nav-mb-gnb {
  display: none;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  font-family: var(--main-en-font)
}

.nav-mb-gnb li {
  line-height: 60px;
  align-items: center;
  gap: 10px;
}
.nav-mb-gnb li::after{
  content: "";
  width: 100%;
  height: 1px;
  border: solid 1px solid;
  /* background-color: pink; */
}

/* 아래화살표  */
.material-symbols-outlined {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  font-size: 2rem;
  margin-left: 1rem;
  text-decoration: none;
}
.material-symbols-outlined.active {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}
.nav-mb-gnb li a {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
}
.menu > a > img {
  margin-left: 10px;
}
.menu .hide {
  display: none;
}
.menu .hide li a {
  height: 40px;
  cursor: pointer;
  display: block;
  margin-left: 5px;
  font-size: 3.5rem;
  font-weight: lighter;
  border: none;
  text-align: left;
}
.menu .hide li:last-child a {
  margin-bottom: 20px;
}
.menu > .hide > li:hover a {
  font-weight: bold;
}

/*  배경 */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 8; /* .overlay는 .nav-mb보다 낮은 z-index 값을 가집니다. */
}
.overlay.active {
  background-color: rgba(0, 0, 0, 0.8); /* active 클래스가 추가되면 회색 반투명 배경이 나타납니다. */
  opacity: 1;
}

/* 밑줄 생기기 */
.nav-mb-gnb li {
  position: relative;
}
.nav-mb-gnb li > a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50px;
  width: 0;
  height: 3px;
  background-color: var(--side-color);
  transition: width 0.3s ease;
}
.nav-mb-gnb li:hover > a::after,
.nav-mb-gnb li:focus > a::after 
{ 
  width: 100%;
}
/* 헤더 끝끝*********************************************** *********************************************/
/* 풋터 시작 ********************************************** *********************************************/
footer {
  font-size: 1.5rem;
  width: 100%;
  height: 300px; 
  color: rgba(255, 255 , 255, .7);
  background-color: var(--side-color);
}
footer > .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1.5rem;
}
footer > .inner > div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
footer > .inner > div > a {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
}
footer > .inner > div > a:hover {
font-weight: bold;
}
footer > .inner > .socials > a:hover img{
  scale: 1.2;
}
.copyright {
  font-family: var(--main-en-font);
}
/* 풋터 끝 ********************************************** *********************************************/