@charset "utf-8";
@import url("reset.css");
@import url("style.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
body {
}
.t_wrap {
  background-color: #fff8e9;
}
.t_brand-wrap{
  background-color: #fff8e9;
}
html {
  width: 100%;
  min-width: 320px;
}

/* 메인 */
/* 커뮤니티 */
.t_in-notice-wrap {
  /* background-color: #fff8e9; */
}
.t_in-container {
  position: relative;
  max-width: 1200px;
  min-width: 280px;
  width: 90vw;
  height: 670px;
  margin: 0 auto;
  /* padding-top: 30px;
  padding-bottom: 30px; */

}
.t_in-header {
  min-width: 280px;
  width: 95%;
  height: 300px;
  /* background-color: aqua; */
  margin: 0 auto;
  text-align: center;

  border-bottom: 1px solid #d9d9d9;
}
.t_in-contents{

}
.t_in-bottom {
  width: 95%;
  height: 150px;
margin: 0 auto;
}
.t_in-bottom .s_btn{
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.t_in-main-info {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  /* background-color: rgb(182, 253, 168); */
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-size: 1.7rem;
  border-bottom: 1px solid #d9d9d9;
}
.t_in-main-info li {
  width: 100px;
  text-align: center;
}
.t_in-main-info li p {
  font-size: 1.7rem;
  color: #589856;
  font-weight: 600;

  cursor: pointer;
}
.t_in-main-info li:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
}
.t_in-main-info li:nth-child(2) {
  width: 400px;
  height: 50px;
  text-align: left;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
}
.t_in-main-info:nth-child(1),
.t_in-main-info:nth-child(2) {
  background-color: #eeffe9;
}
.t_in-main-info li:nth-child(4){
  font-size: 12px;
  color: #b6b6b6;
}

/* 커뮤니티 */

/* 인스타 */
.t_instagram {
  width: 100%;
  max-width: 1200px;
  height: 630px;
  /* min-height: 700px; */
  text-align: center;
  margin: 0 auto;
}
.t_insta-img-wrap {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  max-width: 1200px;
}

.t_instagram img {
width: 180px;
height: 180px;
  margin: 10px auto;
}
.t_instagram .s_btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 인스타 */

/* 메인 */

/* 로그인 */

.t_login-container {
  position: relative;
  max-width: 540px;
  min-width: 280px;
  width: 90vw;
  height: 600px;
  margin: 30px auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 55px;
    padding-right: 55px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
 
}

#t_login-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 420px;
  min-width: 240px;
}
.t_login-logo img {
  margin: 20px auto;
  margin-top: 0;
width: 200px;
display: block;

}
#t_login-username,
#t_login-password {
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 10px;
  width: 95%;
  max-width: 430px;
  min-width: 230px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 16px;
}
.t_login-ul-signup {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}
.t_login-check {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #3a3c3b;
  font-size: 12px;
}
#t_login-ck {
  transform: scale(1.2);
  accent-color: #589856;
  margin-left: 10px;
  margin-right: 10px;
}
.t_login_bt {
  padding: 10px;
  background-color: #589856;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 95%;
  max-width: 430px;
  min-width: 230px;
  height: 50px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 700;
}
.t_login_bt:hover {
  background-color: #447242;
}
.t_login-hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #3a3c3b;
  font-size: 12px;
  margin-top: 20px;
}
.t_login-hr-sect::before,
.t_login-hr-sect::after {
  content: "";
  flex-grow: 1;
  background: #3a3c3b;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
p {
  text-align: center;
  font-size: 14px;
  color: #3a3c3b;
}
.t_login-li-txt a {
  color: #589856;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}
.t_login-li-txt a:hover {
  color: #447242;
}

.t_login-ul-sns {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
/* 로그인 */

/* 회원가입 */

.t_signup-container {
  position: relative;
  max-width: 540px;
  min-width: 280px;
  width: 90vw;
  height: 1060px;
  margin: 30px auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 55px;
      padding-right: 55px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#t_signup-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 430px;
  min-width: 240px;
}
.t_signup-h1 {
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.t_signup-ul,
.t_signup-li {
  width: 95%;
  max-width: 430px;
  min-width: 240px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.t_signup-li:first-child {
  margin-top: 0;
}
.t_signup-ul p {
  font-size: 16px;
  font-weight: 700;
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t_signup-input-box {
  width: 100%;
  height: 30px;
  max-width: 430px;
  min-width: 240px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}
.t_signup-code {
  display: flex;
  flex-direction: column;
}
.t_signup-bt {
  width: 90px;
  height: 25px;
  margin-top: 10px;
  border: 2px solid var(--side-color);
  border-radius: 3rem;
  background-color: white;
  color: var(--side-color);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.t_signup-bt:hover {
  color: #fff;
  background-color: var(--side-color);
}
.t_signup-gender {
  width: 95%;
  max-width: 430px;
  min-width: 240px;
  margin: 0 auto;
  margin-top: 20px;
}
.gender {
  display: inline-block;
  width: 50px;
  accent-color: #589856;
  font-size: 12px;
  width: 100px;
}
.gender input {
  margin-right: 10px;
}
.agree-box {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 12px;
}
.agree-all {
  margin-right: 10px;
  accent-color: #589856;
}
.agree {
  margin-left: 10px;
  margin-right: 10px;
  accent-color: #589856;
}
.t_submit-bt {
  padding: 10px;
  background-color: #589856;

  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 95%;
  max-width: 430px;
  min-width: 230px;
  height: 60px;
  margin: 20px auto;
  font-size: 22px;
  font-weight: 700;
}
.t_submit-bt a {
  color: #fff;
}
.t_submit-bt:hover {
  background-color: #447242;
}
/* 회원가입 */

/* 커뮤니티 */
.t_pl-container {
  position: relative;
  max-width: 1200px;
  min-width: 280px;
  width: 90vw;
  /* height: 960px; */
  margin: 30px auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 55px;
      padding-right: 55px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.t_pl-header {
  max-width: 1110px;
  min-width: 280px;
  width: 90%;
  height: 120px;
  /* background-color: aqua; */
  margin: 0 auto;
  margin-top: 10px;

  border-bottom: 1px solid #d9d9d9;
}
.t_pl-header h1 {
  /* margin-left: 10px; */
  font-size: 34px;
  font-weight: 700;
}
.t_pl-header-info-wrap {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}
.t_pl-header-info {
  /* margin-left: 10px; */
  width: 320px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.t_pl-header-info li a:hover {
  color: var(--main-color);
}
.all {
  color: #589856;
}
.notice{
  color: #589856;
}
.talk {
  color: #589856;
}
.with {
  color: #589856;
}
.t_pl-header-info-right {
  /* float: right; */
  width: 100px;
}
.t_pl-button {
  width: 20vw;
  max-width: 70px;
  height: 40px;
  float: right;
  background-color: #589856;
  border: none;
  border-radius: 20px;

  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.t_pl-button:hover {
  background-color: #447242;
}
.t_pl-contents {
  max-width: 1160px;
  min-width: 280px;
  width: 95%;
  margin: 0 auto;
}
.t_pl-contents-info {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-size: 1.7rem;
  border-bottom: 1px solid #d9d9d9;
}
.t_pl-contents-info li {
  width: 100px;
  text-align: center;
}
.t_pl-contents-info li:nth-child(3) {
  width: 400px;
}
.t_pl-main-info {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  /* background-color: rgb(182, 253, 168); */
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-size: 1.7rem;
  border-bottom: 1px solid #d9d9d9;
}
.t_pl-main-info:nth-child(1),
.t_pl-main-info:nth-child(2) {
  background-color: #eeffe9;
}
.t_pl-main-info li {
  width: 100px;
  text-align: center;
}
.t_pl-main-info li p {
  font-size: 1.7rem;
  color: #589856;
  font-weight: 600;
  cursor: pointer;
}
.t_pl-main-info li:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
}
.t_pl-main-info li:nth-child(3) {
  width: 400px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.t_pl-main-info li:nth-child(5){
  font-size: 12px;
  color: #b6b6b6;
}
.Page-navigation {
  width: 100%;
}
.pagination {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
#pg-left,
#pg-right {
  color: #589856;
}
#pg-1 {
  color: #ffbe98;
}
/* 커뮤니티 */

/* 브랜드스토리 */
.t_brand-container{
text-align: center;
}

.t_brand-top{
  font-weight: 500;
  margin: 50px auto;
}
.t_brand-top p span{
  font-size: 25px;
  font-weight: 700;
  line-height: 50px;
}
.t_brand-middle{
  font-family: "UhBeeSe_hyun";
}
.t_brand-middle h1{
  font-size: 50px;
  line-height: 100px; 
  color:  var(--side-color);
  margin-top: 10px;
  margin-bottom: 50px;
}
.t_brand-symbol-title{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  margin: 20px;
  color:  var(--side-color);
}
.t_brand-symbol ul{
  display: flex;
      justify-content: center;
}
.t_brand-symbol li:nth-child(1){
  padding-top: 40px;
  padding-bottom: 40px;
}
.t_brand-symbol li p{
  margin-bottom: 40px;
  font-weight: 500;
  text-align: left;
}
.t_brand-symbol li p span{
  color:  var(--main-color);
  font-weight: 700;
}
.t_brand-symbol li h2{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 20px;
}
.t_brand-symbol li img{
  width: 300px;
}
.t_brand-slogan-title{
  font-family: "Montserrat";
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
  color:  var(--side-color);
}
.t_brand-slogan h2{
  font-family: "Montserrat";
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  color:  var(--side-color);
}
.t_brand-slogan h2 span{
font-size: 20px;
font-weight: 500;
font-family: "UhBeeSe_hyun";
}
/* 브랜드스토리 */
/* 상세페이지 */
/* .t_pd_wrap{
  padding-left: 20px;
  padding-right: 20px;
} */
.t_product {
  font-family: "S-CoreDream-3Light";
  margin-top: 80px;
  margin: 0 auto;
}
.t_product_wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  
}
.t_pd_left {
  width: 100%;
  max-width: 600px;
  height: 100%;
}
.t_pd_left img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  padding: 30px;
}
.t_pd_right {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.t_pd_title {
  margin-bottom: 20px;
}
.t_cate {
  font-weight: bold;
  font-size: 16px;
  color: var(--side-color);
  margin-bottom: 30px;
}
.t_pd_title h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.t_pd_title p {
  font-size: 16px;
  letter-spacing: 1px;
  float: left;
}
.t_teacher_wrap {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.t_teacher_wrap img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.t_teacher_wrap p {
  font-size: 16px;
  font-weight: bold;
}
.t_schedule {
  margin-bottom: 50px;
}
.t_date {
  display: flex;
  margin-bottom: 20px;
}
.t_date .p1 {
  width: 50px;
  font-size: 14px;
  font-weight: bold;
  border-right: 2px solid #dadada;
  margin-right: 20px;
}
.t_date .p2 {
  font-size: 14px;
  font-weight: bold;
}
.t_bt_wrap {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 30px;
}
.t_bt {
  height: 50px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.t_bt2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  width: 240px;
  border: none;
  background-color: var(--side-color);
  color: #fff;
}
.t_bt2:hover {
  background-color: #447242;
}
.t_product-program{
  width: 100%;
  height: 100%;
}
.t_product-program-info{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.t_product-program-info img{
width: 100%;
max-width: 1200px;
}
.t_product-program-info img:nth-child(2){
width: 100%;
max-width: 1200px;
display: none;
}
.t_detail-pg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 30px;
}
.t_menu-select {
  display: flex;
  gap: 10px;
  padding-left: 20px;
}
.t_menu-select p{
  font-size: 14px;
}
.t_detail-manu {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.t_menu-right {

  width: 100%;
}
.t_menu-right-info li {
  display: flex;
  align-items: center;
  gap: 40px;
  line-height: 80px;
}

.t_info-bt {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.t_info-bt button {
  width: calc(100% / 3);
  height: 40px;
  border: 0;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}
.t_info-bt button:nth-child(2) {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.t_review-pr {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 20px;
}
.t_review-pr h1{
  font-size: 30px;
  font-weight: 700;
}
.t_review-bt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  line-height: 50px;
}
.t_review-bt button {
  width: 100px;
  height: 40px;
  border: 0;
  background-color: #fff;
}
.t_review-page .t_review-star{
  margin-top: 30px;
}
.t_review-star{
  color: var(--main-color);
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
}
.t_review-img{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.t_review-img img{
  width: 80%;
  
}
.t_review-page{
  width: 100%;
  max-height: 230px;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 20px;

  /* border-bottom: 1px solid #d9d9d9; */
}
.t_review-re{
  display: flex;
  justify-content: space-between;
}
.t_review-re img{
width: 100px;
margin-top: 20px;
margin-right: 20px;
}
.t_review-page p{
text-align: left;
  margin-top: 20px;
  margin-left: 20px;
line-height: 20px;
 
}
.t_inquiry {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.t_inquiry h1{
  font-size: 30px;
  font-weight: 700;
}
.t_inquiry-bt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  line-height: 50px;
}
.t_inquiry-bt button {
  width: 100px;
  height: 40px;
  border: 0;
  background-color: #fff;
}
.t_inquiry-page{
  margin-bottom: 60px;
  width: 100%;
  height: 140px;
  border-top: 1px solid #d9d9d9;
  /* border-bottom: 1px solid #d9d9d9; */
}
.t_inquiry-page p{
  text-align: center;
  line-height: 140px;
}

/* 상세페이지 */
@media screen and (max-width: 1200px){
  .t_instagram img {
   
      width: 15vw;
      height: 15vw;
      min-width: 130px;
      min-height: 130px;
  
    }
} 
@media screen and (max-width: 768px) {
  .t_login-container {
    height: 540px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .t_login-ul-sns{
    margin-top: 20px;
  }
.t_instagram{
  height: 850px;
}
  .t_insta-img-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .t_insta-img-wrap img {
    width: 200px;
    height: 200px;
  }
  .t_detail-manu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .t_pd_left{
    margin: 0 auto;
  }
  .t_pd_left img {
  padding: 15px;
  }
  .t_pd_right{
   margin: 0 auto;
   padding: 20px;
  }
  .t_pd_title{
    margin-bottom: 15px;
  }
  .t_teacher_wrap{
    margin-bottom: 15px;
  }
  .t_schedule{
    margin-bottom: 25px;
  }
  .t_bt_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .t_bt {
    height: 50px;
    border-radius: 10px;
    border: 3px solid var(--side-color);
    text-align: center;
    cursor: pointer;
  }
  .t_bt1 {
    line-height: 56px;
    width: 50px;
    min-width: 50px;
  }
  .t_bt1 .fas {
    font-size: 24px;
    color: var(--side-color);
  }
  .t_bt2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 44px;
    width: 500px;
    background-color: var(--side-color);
    color: #fff;
  }
  .t_info-bt{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .t_product-program-info img{
    width: 100%;
    max-width: 1200px;
    display: none;
    }
    .t_product-program-info img:nth-child(2){
    width: 100%;
    max-width: 1200px;
    display: block;
    }
}
@media screen and (max-width: 630px) {
  .t_in-main-info li:nth-child(3) {
    display: none;
  }
  .t_pl-main-info li:nth-child(1),
  .t_pl-main-info li:nth-child(4) {
    display: none;
  }
  .t_pl-contents-info li:nth-child(1),
  .t_pl-contents-info li:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 600px){
  .t_insta-img-wrap a:nth-child(n+5) {
    display: none;
}
.t_brand-symbol ul{
  display: flex;
  flex-direction: column-reverse;
}
.t_brand-symbol li:nth-child(1){
  padding-top: 30px;
  padding-bottom: 30px;
}
.t_brand-symbol li p{
  text-align: center;
}
.t_brand-symbol li h2{
  text-align: center;
}
}
@media screen and (max-width: 500px){
  .t_wrap{
    background-color: #fff;
  }
  .t_signup-container {

  border-radius: none;
  box-shadow: none;
}
.t_login-container{
  border-radius: none;
  box-shadow: none;
}
.t_pl-container{
  border-radius: none;
  box-shadow: none;
}

}

@media screen and (max-width: 400px){
  .t_instagram{
    height: 950px;
  }
  .t_insta-img-wrap img {
    width: 250px;
    height: 250px;
  }
  .t_insta-img-wrap a:nth-child(n+3) {
    display: none;
}
}